<div class="row">
 <div class="col-md-12">
 <h2>Departments <a href="/departments/add" class="btn btn-success pull-right">Add New
Department</a></h2>
 <hr>
 <ol>
    <div  class = "tableresponsive"> 
    <table class="table" >
    <tr> 
        <td>Department Number</td>
        <td> Department Name</td>
        </tr>

        
{{#each department}}
<tr>
<td><a href="/employees?department={{departmentId}}">{{departmentId}}</a></td>
<td><a href="/department/{{departmentId}}">{{departmentName}}</a></td>
   </tr>
    {{/each}}
        
        </table>
        </div>
    
 </ol>
 </div>
</div>